.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.title{
   text-align: center;
}
.titleArea{
    padding: 2rem;
}
.playerArea{
    background: cadetblue;
    padding: 2rem;
}