body {
    background-color: #2b2c2d;
    color: #fff;
    font-family: Helvetica, sans-serif; }
   
  /* h1, h2, h3, h4 {
    -webkit-text-stroke-color: #502e98;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #91a9cb));
    background-image: -webkit-linear-gradient(#ffffff, #b3adb5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    -webkit-text-stroke-width: .05em; 
  } */
 
  ul {
    padding: 0;
    margin: 0; }
   
  li {
    list-style-type: none; }
   
  a {
    text-decoration: none; }
   
  .container {
    border: 1px solid red;
  }
   

  
  .wiggle {
    animation: wiggle 2s infinite; }
   
  .box {
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 10px 12px 0px black;
    -moz-box-shadow: 0px 10px 12px 0px black;
    box-shadow: 0px 10px 12px 0px black; }
    .box a {
      color: #000; }
    .box ul li {
      line-height: 2srem;
      font-size: 2rem; }
   
  .loginBox {
    composes: box;
    padding: 5rem; }
   
  .prompt {
    composes: box;
    padding: 2rem;
    background-color: tomato;
    opacity: .8; }
    .prompt li {
      color: #fff;
      font-weight: bold; }
   
  @-webkit-keyframes wiggle {
    0% {
      -webkit-transform: rotate(4deg); }
    50% {
      -webkit-transform: rotate(-4deg); }
    100% {
      -webkit-transform: rotate(4deg); } }
   
  /* firefox */
  @-moz-keyframes wiggle {
    0% {
      -moz-transform: rotate(4deg); }
    50% {
      -moz-transform: rotate(-4deg); }
    100% {
      -moz-transform: rotate(4deg); } }
   
  /* anyone brave enough to implement the ideal method */
  @keyframes wiggle {
    0% {
      transform: rotate(4deg); }
    50% {
      transform: rotate(-4deg); }
    100% {
      transform: rotate(4deg); } }
   
  .rotate {
    /* Safari */
    -webkit-transform: rotate(-6deg);
    /* Firefox */
    -moz-transform: rotate(-6deg);
    /* IE */
    -ms-transform: rotate(-6deg);
    /* Opera */
    -o-transform: rotate(-6deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
   
  .wiggler:hover {
    -webkit-animation: wiggle 0.5s infinite;
    -moz-animation: wiggle 0.5s infinite;
    animation: wiggle 0.5s infinite; }